# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.sh]
shell_variant = bash
indent_style = tab
indent_size = 4
switch_case_indent = true
space_redirects    = true
keep_padding = true
binary_next_line   = true

[Makefile]
indent_style = tab

[awsm/**]
ignore = true

[thirdparty/**]
ignore = true

[*.json]
indent_style = tab
indent_size = 4

[*.dot]
indent_style = tab
indent_size = 4

[dockerfile]
indent_style = tab
indent_size = 4

[Dockerfile.*]
indent_style = tab
indent_size = 4
