[submodule "awsm"]
path = awsm
url = https://github.com/gwsystems/aWsm
ignore = dirty
[submodule "http-parser"]
path = runtime/thirdparty/http-parser
url = https://github.com/gwsystems/http-parser.git
[submodule "ck"]
path = runtime/thirdparty/ck
url = https://github.com/gwsystems/ck.git
[submodule "jsmn"]
path = runtime/thirdparty/jsmn
url = https://github.com/gwsystems/jsmn.git
