# CI workflow
name: sledge
on: [push, pull_request]

env:
  LLVM_VERSION: 11
  WASMCEPTION_URL: https://github.com/gwsystems/wasmception/releases/download/v0.2.0/wasmception-linux-x86_64-0.2.0.tar.gz

# job control
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Clang Format
        run: ./format.sh -d
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)" bash $LLVM_VERSION
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-$LLVM_VERSION 100
          sudo update-alternatives --install /usr/bin/llvm-config llvm-config /usr/bin/llvm-config-$LLVM_VERSION 100
          sudo apt-get install libc++-dev --yes
          # not really sure why we need to modify this
          PATH=/usr/bin:$PATH
          llvm-config --version

      - name: Init Submodules
        run: |
          git submodule update --init --recursive

      - name: Get wasmception
        run: |
          wget $WASMCEPTION_URL -O wasmception.tar.gz
          mkdir -p awsm/wasmception
          tar xvfz wasmception.tar.gz -C awsm/wasmception

      - name: Compile awsm
        run: |
          cd awsm && cargo build --release && cd ..
      - name: Compile sledge
        run: |
          make rtinit
      - name: Hyde
        run: |
          cd runtime/experiments/applications/ocr/hyde && ./run.sh
